body {
	background: #7c7c7c !important;
	
	background-image: url("../img/pattern.png") !important;
	
	/*
	OPCIÓN 1
	background-image: url("../img/pattern4.png") !important;
	background: #c64100 !important;
	*/
	
	/*
	OPCIÓN 2
	background-repeat: no-repeat !important;
    background-attachment: fixed !important;
	background: gba(255,237,76,1) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,237,76,1)), color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed4c', endColorstr='#ff920a', GradientType=1 );
	*/
	
	/*
	OPCIÓN 3
	background: #e9d70c !important;
	background-image: url("../img/pattern.png") !important;*/
}

header.banner {
	/*
	OPCIÓN 1
	background: #FFF;
	border-bottom: 5px solid #D31818;*/
	
	/*
	OPCIÓN 2
	background: gba(255,237,76,1) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,237,76,1)), color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,237,76,1) 0%, rgba(255,146,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed4c', endColorstr='#ff920a', GradientType=1 );
	

	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	*/
}

.mainContent {
	background: #FFF;
	margin-top: 20px;
	min-height: 300px;
	/*Border radius*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	/*Shadows*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.marginRight {
	margin-right: 20px;
}

hgroup {
	/*
	OPCIÓN 1*/
	color: #a20404;	
	
	
	/*
	OPCIÓN 2
	color: #000;*/
	
	text-align: center;
	
}

hgroup h1, hgroup h2 {
	font-family: Helvetica !important;
	font-size: 3em;
	font-weight: 900;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

h3 {
	font-family: 'Roboto' !important;
}

.sectionHeader {
	background: #D31818;
	color: #FFF;
	margin-bottom: 20px;
	/*Borders*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

hr {
	border-top: 2px solid #D31818 !important;
}

#table_div {
	margin-bottom: 20px;
}

th {
	text-align: center !important;
}